<div class="container pb-5">
  <div class="section-title text-center m-2 p-3">
  <h1 class="col-12"><span class="col-12">Administración de Cursos</span></h1>
</div>
  <div class="row">
    <div class="col">
      <table class="table table-hover table-striped table-bordered table-light">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Curso</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Modalidad</th>
            <th>Lugar</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <th>{{id_curso}}</th>
              <th>{{curso}}</th>
              <th><img src="{{imagen}}" alt="Imagen Curso" /></th>
              <th>{{descripcion}}</th>
              <th>{{duracion}}</th>
              <th>{{modalidad}}</th>
              <th>{{lugar}}</th>
              <th>{{precio}}</th>
              <th><a
                  href="/cursos/editarCurso/{{id_curso}}"
                  class="btnWA"
                >Editar</a></th>
              <th><a
                  href="/cursos/eliminarCurso/{{id_curso}}"
                  class="btnWA"
                >Eliminar</a></th>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
    
  </div>
</div>
<div class="container text-center mb-4">
  <div>
    <a href="/cursos/agregarCurso" class="btnWA">
      Agragar Curso
    </a>
  </div>
</div>