<div class="section-title text-center m-2 p-3">
  <h1 class="col-12">
    <span class="col-12">
      Nuestros Cursos
    </span>
  </h1>
</div>
<div class="container containerCursos">      
  {{#each data}}
  <div class="row col-5 cardCurso">
    <div class="col-12 border border-warning rounded p-2">
      <div class="single-item">
        <div class="img-holder">
          <img src="{{{imagen}}}" style="width: 200px"/>
        </div>
        <div class="content">
          <div class="top">
            <div class="content-heading">
              <h3> {{curso}} </h3>
              <div class="package-list">
              <p> {{descripcion}} </p>
            </div>
            <ul>
              <li>Duración: {{duracion}} </li>
              <li>Modalidad: {{modalidad}} </li>
              <li>Lugar: {{lugar}} </li>
            </ul>
         </div>
        </div>
      </div>
      <div class="button text-center">
        <a rel="nofollow" class="botonFormulario" href="/areaCliente/miCuenta/index.html" title="Inscribirse a PERSONAL TRAINER Y MUSCULACIÓN">
          <span class="inscribirse">Inscribirse</i></span>
        </a>
      </div>
    </div>
  </div>
</div>
  {{/each}}
</div>
<div class="container text-center p-5">
   <div>
      <a href="/cursos/adminCursos" class="botonFormulario">Administración de cursos</a>
   </div>
</div>
